@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-outfit: "Outfit", arial;
    --color-main-theme: #FE8A00;
    --color-secondary-theme: #F61B5A;
}

body {
    @apply font-outfit;
}

.clamp-text{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}